body {
    background: #c5ccdb;
    text-align: center;
}
header { 
    margin: 0px 0px 0px 0px;  
    padding-top: 15px; 
    height: 2em; 
    font-size: 2em;
    position: top; 
}
.title {
    margin-top: 0px;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 42pt;
    line-height: 42px;
    overflow: hidden;
    padding: 10px;
}
.top {
    background-color: #0f4fab;
    width: 100%;
}
#loginDiv {
    display: inline-block;
    position: top;
}
#loginBtn {
    float: right; 
    margin: 0px 10px 0px 0px;
    font-size: 18pt;
    border-radius: 3px;
    background-color: #6996D3;
}
.userBtnClass {
    float: right; 
    margin: 0px 10px 0px 0px;
    font-size: 18pt;
    border-radius: 3px;
    background-color: #FFB740 !important; 
}
#loginPopup {
    margin: 0px 10px;
    width: 500px;
    height: 100px;
    text-align: center;
    padding: 10px;
    background: grey;
    float: right;
    clear: right;
    position: relative;
}
#logoutPopup {
    margin: 0px 10px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    background: grey;
    float: right;
    clear: right;
    position: relative;
}
.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable 
{
    background:grey !important;
}​
.ui-dialog .ui-dialog-buttonpane { 
    text-align: right;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}
.smallTextBtn {
    font-size: 30pt;
}
#closeLoginPopup {
    position: relative;
    float: right;
    margin: 0px 0px 3px;
}
#welcome {
    text-align: left;  
    font-size: 16pt;
    line-height: 16px;
    margin: 0px;
}
#todoDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 30%;
    height: auto;
    float: left;   
    margin-left: 5px; 
    border-radius: 5px;
    background-color: #bdd0f6;
}
#tagDiv {
    border-color: red;
    border-width: 1px;
    border-style: solid;
    width: 15%;
    height: auto;
    float: left;
    clear: left;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #bdd0f6;
}
.add {
    width: 33px;
    height: 100%;
    float: right;
    margin: 5px 0px 5px 5px;
}
.mainInput {
    width: 80%;
    height: 27px;
    float: left;
    display: inline-block;
    margin: 5px 0px 5px 5px;
}
#tagSortable {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    width: 100%;
}
#tagSortable li {
    margin: 0 !important;
    font-size: 1.2em;
    height: 1.5em;
}
html>body #tagSortable li { 
    height: 1.5em; 
    line-height: 1.2em; 
    margin: 0 !important;
}
#todoSortable {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    width: 100%;
}
#todoSortable li {
    margin: 0 !important;
    font-size: 1.2em;
    height: 1.5em;
}
html>body #todoSortable li { 
    height: 1.5em; 
    line-height: 1.2em; 
    margin: 0 !important;
}
.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
    margin: 0 !important;
}
#tagsDiv {
    margin: 1px;
    float: left;
    position: relative;
    width: 98%;
    border-radius: 4px;
}
#todosDiv {
    margin: 1px;
    float: left;
    position: relative;
    width: 98%;
    border-radius: 4px;
    padding: 5px 0px 5px 5px;
}
.sortableItem {
    width: 80%;
    float: left;
}
.ui-state-default {
    width: 100%;
}
.weekSep {
    font-size: 10pt;
    line-height: 10px;
    height: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #2B4C7E;
    background-color: #FF9F00;
    border-radius: 3px;
}
.weekdaySortable {
    height: 12px !important;
    border-radius: 3px;
    clear: left;
    margin: 2px 0px 2px 0px;
}
#addNewTodoBtn:active {
    background-image: url("img/orangePlus32x32.png");
    background-repeat: no-repeat;
    width: 32px; /*or your image's width*/
    height: 32px; /*or your image's height*/
}
#addNewTagBtn:active {
    background-image: url("img/bluePlus32x32.png");
    background-repeat: no-repeat;
    width: 32px; /*or your image's width*/
    height: 32px; /*or your image's height*/
}